.descripcion {
  text-align: center;
  font-size: 18px;
  padding: 5px 25px;
  color: rgb(251, 248, 248);
}

.header-app {
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(43, 6, 105, 0.971);
}

h1 {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
}
