/*Estilos para todos los componentes*/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
}

h2 {
  text-align: center;
  padding: 10px;
  color: rgb(35, 0, 72);
}

.descripcion {
  text-align: center;
  padding: 5px 25px;
  color: rgb(255, 253, 253);
}

.card {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  /* background-color: lightyellow; */
}

.card__perfil {
  background-color: lightyellow;
  width: 310px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(201, 201, 201);
  border: solid rgba(3, 133, 255, 0) 2px;
  border-radius: 10px;
}

.card__perfil:hover {
  border: solid rgb(3, 133, 255) 2px;
}

.card__perfil:hover img {
  transform: rotate(0);
}

img {
  width: 140px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(216, 216, 216);
  transform: rotate(-30deg);
  transition: all 0.3s;
}

.card__nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

hr {
  width: 100%;
  height: 4px;
  background: rgb(223, 221, 221);
  margin: 20px 5px;
}

.card__button {
  text-align: center;
}

.enlace {
  background: rgb(0, 110, 255);
  padding: 8px 20px;
  color: white;
  text-decoration: indigo;
}

.header-app {
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(43, 6, 105, 0.971);
  color: rgb(250, 250, 250);
  width: 100%;
  height: 80px;
  /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0;
  /* Posicionamos la cabecera al lado izquierdo */
  top: 0;
  /* Posicionamos la cabecera pegada arriba */
  position: fixed;
  /* Hacemos que la cabecera tenga una posición fija */
  z-index: 99999;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #666;
  background: #f2f2f2;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 80px;
  /* Relleno superior igual a la altura de la cabecera*/
}

.Promovido {
  color: blue;
  font-size: 1.5em;
}

.NoPromovido {
  color: red;
  font-size: 1.5em;
}
